# for statement exercises
## 1. Count numbers

In [1]:
origin = -10
increments = [20]

for increment in increments:
    origin += increment
    print(origin)

10

## 2. Arithmetic sum
a)

In [6]:
sum = 0
for num in range (0, 101, 1):
    sum += num
print(sum)

5050

b)

In [5]:
sum = 0
for num in range(1,100,2):
    sum += num
print(sum)

2500

## 3. Multiplication table

In [8]:
multiple = 6
for num in range(1,11,1):
    print(f"{num} * {multiple} = {num * multiple}")

1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60

In [10]:
multiple = int(input("Enter the Multiplication you want to print out"))
start = int(input("Enter the start value between 1 and 10"))
end = int(input("Enter the end value between 1 and 10"))

for num in range(start,end + 1,1):
    print(f"{num} * {multiple} = {num * multiple}")

2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56

In [15]:
for table in range(2,10,1):
    print(f"Multiplication table : {table}")
    for num in range(1,11,1):
       print(f"{num} * {table} = {num * table}")

Multiplication table : 2
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20
Multiplication table : 3
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30
Multiplication table : 4
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40
Multiplication table : 5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50
Multiplication table : 6
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60
Multiplication table : 7
1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70
Multiplication table : 8
1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
10 * 8 = 80
Multiplication table : 9
1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81
10 * 9 = 90

## 4. Faculty

In [14]:
n = 4
sum = 1

for number in range(1,n+1,1):
    sum *= number

print(sum)

24

## 5. Guess the number

In [17]:
import random as rand

secret = rand.randrange(1, 9999)

for num in range(1, 10000,1):
    if num != secret:
        continue
    else:
        print(secret)

2835

## 6. Rice on chessboard

In [5]:
rice_grain = 1
sum_grains = 0

for square in range(1,65,1):
    sum_grains += rice_grain
    rice_grain *= 2

print(sum_grains)

18446744073709551615